.App {
    text-align: center;
}

.App-header {
  background-image: url("background.svg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;

  font-family: 'Open Sans', sans-serif;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;

  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.App-link {
    color: #61dafb;
}

input[type="text"] {
    min-width: 600px;
}

textarea {
    min-height: 200px;
    min-width: 600px;
    padding: 0.5rem;
    font-size: 1.2rem;
}

body {
  background-color: #282c34;
}

a {
  color: #2980b9;
}

h1, h2, h3 {
  color: white;
  text-shadow: 1px 1px 2px #34495e;
}

.input-section {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    margin-right: 10px;
}
.checkbox-section label {
    font-size: 0.65em; /* or any font-size value you prefer */
}

input[type="text"], textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    background-color: #f8f9fa;
    resize: none;
}

.checkbox-section {
    margin-top: 20px;
}

input[type="checkbox"] {
    margin-right: 10px;
}

button {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.output-section {
    margin-top: 20px;
}

.checkbox-section label {
    grid-column: span 1; /* make the label span 1 column */
}

.checkbox-section input[type="checkbox"] {
    grid-column: span 1; /* make the checkbox span 1 column */
}

.checkbox-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* 3 columns with equal width */
    grid-gap: 10px; /* space between the checkboxes */
}

input::placeholder, textarea::placeholder {
    font-size: 1.5em;
    text-align: center;
    color: rgba(0, 0, 0, 0.15) !important;
}